{% extends 'base.html.twig' %}

{% block title %} Actor list - {{ parent() }}{% endblock %}

{% block body %}
    <h2 class="text-center text-red-700 text-xl font-semibold mb-8">ACTOR LIST</h2>
{% endblock %}
